[submodule ".config/shell/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/shell/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/shell/zsh/plugins/zsh-autosuggestions"]
	path = .config/shell/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/shell/zsh/plugins/fast-syntax-highlighting"]
	path = .config/shell/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule ".config/shell/zsh/plugins/zsh-completions"]
	path = .config/shell/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
