/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #232136FF;
    background-alt: #393552FF;
    foreground:     #e0def4FF;
    selected:       #c4a7e7FF;
    active:         #9ccfd8FF;
    urgent:         #eb6f92FF;
}
