[alias]
  logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	email = 26639314+zeldandev@users.noreply.github.com
	name = zeldandev
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitcofig.work
[core]
	autocrlf = input

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true
